.Dashboard{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 200px 700px;
    border: 4px solid black;
  }

.home{
    grid-column:1/5 ;
    grid-row: 1/2;
    border: 2px solid grey;
}

.nav{
    float:right;
}

.bt{
    background-color:white;
    border:2px solid grey;
    color:black;
    border-radius:12px;
    font-size:20px;
    font-family:monospace;
    margin: 25px; 
}


.traffic{
    grid-column:1/2 ;
    grid-row: 2/3;
    border: 2px solid red;
}
.pollution{
    grid-column:2/3 ;
    grid-row: 2/3;
    border: 2px solid blue;
}
.environment{
    grid-column:3/4 ;
    grid-row: 2/3;
    border: solid 2px rebeccapurple;
}
.item6{
    grid-column:4/5 ;
    grid-row: 2/3;
    border: solid 2px darkcyan ;
}